<div id="<%= dom_id detalle %>">
 
<tr>

        <td>
        <%= detalle.cantidad %>
        </td>

        <td>
        <%= detalle.Prestamo_id.to_s + " - Realizado por " +
        detalle.Prestamo.Usuario.nombres + " " +
        detalle.Prestamo.Usuario.apellidos + " en " +
        detalle.Prestamo.fecha.to_s  %>
        </td>

        <td>
        <%= detalle.Libro_id.to_s + " - " +
        detalle.Libro.titulo + " en " +
        detalle.Libro.anyo.to_s %>
        </td>


        <td>
        
        <%= link_to "Editar", edit_detalle_path(detalle) , :class => "btn btn-primary"%> 
        
        </td>
        
        <td>
        
        <%= button_to "Eliminar", detalle, method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-danger"%>

        </td>
</tr>



</div>
