<p>Taller de Soporte de Ingeniería</p>
<br>
<article> Presentado por: De La Rosa Adrian, Gutierrez Juan y Perez Ariel</article>

<br><br>

<h3>Administración de Datos</h3>

<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tablas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= link_to 'Libros', libros_path%></th>
      
    </tr>
    <tr>
    <th scope="row"><%= link_to 'Usuarios', usuarios_path%></th>
    </tr>
    <tr>
    <th scope="row"><%= link_to 'Prestamos', prestamos_path%></th>
    </tr>
    <tr>
    <th scope="row"><%= link_to 'Detalles', detalles_path%></th>
  </tr>
  <tr>
  <th scope="row"><%= link_to 'Multas', multa_path%></th>
    </tr>
  </tbody>
</table>


