<div id="<%= dom_id prestamo %>">

<tr>

        <td>
        <%= prestamo.fecha %>
        </td>

        <td>
        <%= prestamo.estado %>
        </td>

        <td>
        <%= prestamo.Usuario_id.to_s + " - " + prestamo.Usuario.nombres + " " + prestamo.Usuario.apellidos%>

        </td>

        <td>
        
        <%= link_to "Editar", edit_prestamo_path(prestamo) , :class => "btn btn-primary"%> 
        
        </td>
        
        <td>
        
        <%= button_to "Eliminar", prestamo, method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-danger"%>

        </td>
</tr>




</div>
